@model projetoRedeSocial.Models.Post

@{

    ViewData["Title"] = "Details";
}

@* ViewData["usuario"] *@
<div class="row align-items-center">
    <div class="col row align-items-center">
        <a asp-controller="Usuario" asp-action="Details" asp-route-id="@Model.usuarioPost?.usuarioId">
            @if (Model.usuarioPost?.usuarioImagem != null)
            {
                <img src="@Url.Content(Model.usuarioPost.usuarioImagem)" class="rounded-circle" style="width: 80px; height: 80px; object-fit: cover;" />
            }
            else
            {
                <i class="fs-1 bi bi-person-circle img-fluid rounded-img" style="color:white"></i>
            }
            <span class="fs-4 ms-3 d-none d-sm-inline h1">@Model.usuarioPost?.usuarioNome</span>
        </a>
    </div>

    <div class="col d-flex align-items-center justify-content-end">
        <i class="bi bi-hand-thumbs-up-fill h1 p-3" style="color:white"></i>
    </div>
</div>


@* <dd class="col-sm-10">
    @Html.DisplayFor(model => model.usuarioPost.usuarioId)
</dd> *@
@if (!string.IsNullOrEmpty(Model.postArquivo))
{
    <div class=" row d-flex justify-content-lg-around align-items-center ">
        <hr />
        <div class="col-5 d-flex justify-content-center flex-column text-center ">
            <p class="h3">@Html.DisplayFor(model => model.postTitulo)</p>
            <div class="h4" style="overflow-y: scroll; height: 400px;">
                @Html.DisplayFor(model => model.postDesc)
            </div>
        </div>
        <div class="col-5 ">

            @if (!Model.postArquivo.Contains(".mp4"))
            {
                <img src="@Url.Content(Model.postArquivo)" class="post-img" />
            }
            else
            {
                <video src="@Url.Content(Model.postArquivo)" class="post-img">
                    Your browser does not support the video tag.
                </video>
            }

        </div>
    </div>
    <hr />
}
else
{
    <div class=" row d-flex justify-content-lg-around align-items-center text-white">
        <hr />
        <div class="col-10 d-flex justify-content-center flex-column text-center ">
            <p class="h3">@Html.DisplayFor(model => model.postTitulo)</p>
            <div class="h4">
                @Html.DisplayFor(model => model.postDesc)
            </div>
        </div>
    </div>
    <hr />
}

<div class="column">
    <div class="col row align-items-center">
        <a asp-controller="Usuario" asp-action="Details" asp-route-id="@Model.usuarioPost?.usuarioId">
            @if (Model.usuarioPost?.usuarioImagem != null)
            {
                <img src="@Url.Content(Model.usuarioPost.usuarioImagem)" class="rounded-circle" style="width: 80px; height: 80px; object-fit: cover;" />
            }
            else
            {
                <i class="fs-1 bi bi-person-circle rounded-circle" style="width: 80px; height: 80px; object-fit: cover;" style="color:white"></i>
            }
            <span class="fs-4 ms-3 d-none d-sm-inline h1">@Model.usuarioPost?.usuarioNome</span>
        </a>
    </div>
    <div>
        <p>
            @Html.DisplayFor(model => model.postTitulo)
        </p>
    </div>

</div>



@* <div>
    <a asp-action="Edit" asp-route-id="@Model?.postId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div> *@
