@model projetoRedeSocial.Models.Post

@{

    ViewData["Title"] = "Details";
}

@* ViewData["usuario"] *@
<div class="col">
    <a asp-controller="Usuario" asp-action="Details" asp-route-id="@Model.usuarioPost?.usuarioId">

        @if (Model.usuarioPost?.usuarioImagem != null)
        {
            <img src="@Url.Content(Model.usuarioPost.usuarioImagem)" class="img-fluid rounded-img" alt="User Image" />
        }
        else
        {
            <img class="fs-1 bi bi-person-circle img-fluid rounded-img" style="color:white" alt="User Image" />
        }

    </a>
</div>



<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.usuarioPost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.usuarioPost.usuarioId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.postTitulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.postTitulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.postDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.postDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.postArquivo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.postArquivo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.postCor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.postCor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.postDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.postDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.postStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.postStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.postId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
