@model IEnumerable<projetoRedeSocial.Models.Post>

@{
    ViewBag.Title = "Posts";
}

<ul class="nav nav-underline mb-3 mt-5 text-white" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation" style="width:230px">
        <button class="nav-link active text-white border-primary w-100" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Posts</button>
    </li>
    <li class="nav-item" role="presentation" style="width:230px">
        <button class="nav-link  text-white border-primary w-100" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Perfis</button>
    </li>

</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="container m-2">
            <div class="row align-content-stretch">
                @foreach (var post in Model)
                {
                    @if (post.postStatus == "1")
                    {
                        <div class="col-auto">
                            <a asp-action="Details" asp-route-id="@post.postId">
                                <div class="position-relative" style="width: 390px; height: 220px; border-radius: 22px; background-color: @post.postCor;">
                                    <div class="position-absolute top-0 bottom-0 start-0 end-0">
                                        @if (!string.IsNullOrEmpty(post.postArquivo))
                                        {
                                            if (!post.postArquivo.Contains(".mp4"))
                                            {
                                                <img src="@Url.Content(post.postArquivo)" class="img-fluid rounded-3 h-100 w-100" style="object-fit: cover;" alt="Post Image" />
                                            }
                                            else
                                            {
                                                <video src="@Url.Content(post.postArquivo)" class="img-fluid rounded-3 h-100 w-100" style="object-fit: cover;">
                                                    Your browser does not support the video tag.
                                                </video>
                                            }
                                        }
                                        else
                                        {
                                            <div class="text-white p-3">@((post.postDesc.Length > 100 ? post.postDesc.Substring(0, 100) + "..." : post.postDesc))</div>
                                        }
                                    </div>

                                    <div class="position-absolute bottom-0 w-100 bg-primary d-flex align-items-center p-3 rounded-bottom" style="height: 70px;">
                                        <div class="flex-shrink-0">
                                            @if (post.usuarioPost.usuarioImagem != null)
                                            {
                                                <img src="@Url.Content(post.usuarioPost.usuarioImagem)" class="rounded-circle" style="width: 40px; height: 40px; object-fit: cover;" />
                                            }
                                            else
                                            {
                                                <i class="bi bi-person-circle display-4" style="color: white;"></i>
                                            }
                                        </div>
                                        <div class="ms-2 text-white w-100 d-flex flex-column justify-content-center">
                                            <h4 class="mb-0">@((post.postTitulo.Length > 30 ? post.postTitulo.Substring(0, 30) + "..." : post.postTitulo))</h4>
                                            <div class="d-flex flex-row justify-content-between">
                                                <p class="mb-0 me-2">@((post.usuarioPost.usuarioNome.Length > 20 ? post.usuarioPost.usuarioNome.Substring(0, 20) + "..." : post.usuarioPost.usuarioNome))</p>
                                                <p class="mb-0">@post.postDate?.Substring(0, 10)</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                    }
                }
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        @foreach (var usuario in ViewBag.Usuario)
        {
            @if (usuario.usuarioId == Convert.ToInt64(ViewBag.userId))
            {
                <div class="d-flex flex-column">
                    <a asp-controller="Usuario" asp-action="DetailsUser" asp-route-id="@usuario.usuarioId" class="d-flex align-items-center justify-content-between link-offset-2 link-underline link-underline-opacity-0 py-2">
                        <div class="align-items-center">
                            @if (usuario.usuarioImagem != null)
                            {
                                <img src="@Url.Content(usuario.usuarioImagem)" class="rounded-circle" style="width: 40px; height: 40px; object-fit: cover;" />
                            }
                            else
                            {
                                <i class="fs-1 bi bi-person-circle img-fluid rounded-img" style="color:white"></i>
                            }
                            <span class="fs-4 ms-3 text-white">@usuario.usuarioNome</span>
                        </div>
                        <i class="bi bi-arrow-right text-white display-6"></i>
                    </a>
                    <hr class="my-2" />
                </div>
            }
            else
            {
                <div class="d-flex flex-column">
                    <a asp-controller="Usuario" asp-action="Details" asp-route-id="@usuario.usuarioId" class="d-flex align-items-center justify-content-between link-offset-2 link-underline link-underline-opacity-0 py-2">
                        <div class="align-items-center">
                            @if (usuario.usuarioImagem != null)
                            {
                                <img src="@Url.Content(usuario.usuarioImagem)" class="rounded-circle" style="width: 40px; height: 40px; object-fit: cover;" />
                            }
                            else
                            {
                                <i class="fs-1 bi bi-person-circle img-fluid rounded-img" style="color:white"></i>
                            }
                            <span class="fs-4 ms-3 text-white">@usuario.usuarioNome</span>
                        </div>
                        <i class="bi bi-arrow-right text-white display-6"></i>
                    </a>
                    <hr class="my-2" />
                </div>
            }
        }
    </div>
</div>
