@model projetoRedeSocial.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<div class="row align-items-center justify-content-between">
    <div class="col-auto d-flex align-items-center">
        @if (Model.usuarioImagem != null)
        {
            <img src="@Url.Content(Model.usuarioImagem)" class="rounded-circle" style="width: 80px; height: 80px; object-fit: fill;" />
        }
        else
        {
            <i class="h1 bi bi-person-circle display-1" style="color:white"></i>
        }

        <div class="text-light ms-3">
            <h1>@Model.usuarioNome</h1>
            <h4>Telefone: @Model.usuarioTelefone</h4>
            <h4>E-mail: @Model.usuarioEmail</h4>
        </div>
    </div>

    <div class="col-auto dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-gear"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" asp-action="Edit" asp-route-id="@Model.usuarioId">Editar</a></li>
            <li>
                <form asp-action="Delete" method="post" style="display:inline;">
                    <input type="hidden" name="id" value="@Model.usuarioId" />
                    <button type="submit" class="dropdown-item">Excluir</button>
                </form>
            </li>
        </ul>
    </div>
</div>

<hr />

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Posts</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Perfis</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-desc-tab" data-bs-toggle="pill" data-bs-target="#pills-desc" type="button" role="tab" aria-controls="pills-desc" aria-selected="false">Descrição</button>
    </li>
</ul>

<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="row">
            @foreach (var post in ViewBag.Posts)
            {
                @if (post.usuarioId == Model.usuarioId)
                {
                    <div class="col-auto">
                        <a asp-controller="Posts" asp-action="Details" asp-route-id="@post.postId">
                            <div class="post-card" style="background-color: @post.postCor">
                                @if (!string.IsNullOrEmpty(post.postArquivo))
                                {
                                    if (!post.postArquivo.Contains(".mp4"))
                                    {
                                        <img src="@Url.Content(post.postArquivo)" class="rounded-img" />
                                    }
                                    else
                                    {
                                        <video src="@Url.Content(post.postArquivo)" class="rounded-video">
                                            Your browser does not support the video tag.
                                        </video>
                                    }
                                }
                                else
                                {
                                    <div class="post-title">@post.postTitulo</div>
                                    <div class="post-desc">@post.postDesc</div>
                                }
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
    </div>

    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        @foreach (var usuario in ViewData["Seguidores"] as List<projetoRedeSocial.Models.Usuario>)
        {
            <div class="d-flex flex-column">
                <a asp-controller="Usuario" asp-action="Details" asp-route-id="@usuario.usuarioId" class="d-flex align-items-center justify-content-between link-offset-2 link-underline link-underline-opacity-0 py-2">
                    <div class="align-items-center">
                        @if (usuario.usuarioImagem != null)
                        {
                            <img src="@Url.Content(usuario.usuarioImagem)" class="rounded-circle" style="width: 40px; height: 40px; object-fit: cover;" />
                        }
                        else
                        {
                            <i class="fs-1 bi bi-person-circle img-fluid rounded-img" style="color:white"></i>
                        }
                        <span class="fs-4 ms-3 text-white">@usuario.usuarioNome</span>
                    </div>
                    <i class="bi bi-arrow-right text-white display-6"></i>
                </a>
                <hr class="my-2" />
            </div>
        }
    </div>

    <div class="tab-pane fade" id="pills-desc" role="tabpanel" aria-labelledby="pills-desc-tab">
        <div class="description-container text-light">
            <p>@Model.usuarioDesc</p>
        </div>
    </div>
</div>
