@model IEnumerable<projetoRedeSocial.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.usuarioImagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuarioDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuarioNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuarioTelefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuarioEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuarioSenha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuarioEndereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuarioCPF)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.usuarioImagem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuarioDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuarioNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuarioTelefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuarioEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuarioSenha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuarioEndereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuarioCPF)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.usuarioId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.usuarioId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.usuarioId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
